<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos :: header('Página dos usuarios', 'none')" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body>
	<div class="container-fluid">
		<div>
			<div th:replace="menu_navegacao :: menu"></div>
		</div>
		<div>
			<h2>Administrar usuários</h2>
			<a th:href="@{/usuarios/cadastrar}"
				class="fa-solid fa-user-plus fa-2x icon-dark m-2"></a>
		</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center ">[[${message}]]</div>

		<div>
			<form th:action="@{/usuarios/pagina/1}" class="form-inline m-2">
				Pesquisa:&nbsp; <input type="search" name="keyword" required class=""/>
				&nbsp;&nbsp; <input type="submit" value="Procurar"
					class="btn btn-outline-primary" /> &nbsp;&nbsp;<input type="submit"
					value="Limpar" class="btn btn-secondary" onclick="limparPesquisa()" />
			</form>
		</div>

		<div class=" table-responsive col-xs-1 text-center">
			<table class="table table-bordered table-sriped table-hover">
				<thead class="table-dark">
					<tr>
						<!-- <th>ID Usuário</th> -->
						<th>Nome</th>
						<th>Cargo</th>
						<!-- <th>CPF</th> -->
						<th>Email</th>
						<!-- 
						<th>Telefone</th>
						<th>Nascimento</th> -->
						<th>Status</th>
						<th>Configuração</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listarUsuarios}">
						<!-- <td>[[${usuario.id}]]</td> -->
						<td>[[${usuario.nome}]]</td>
						<td>[[${usuario.cargos}]]</td>
						<!-- <td>[[${usuario.cpf}]]</td> -->
						<td>[[${usuario.email}]]</td>
						<!-- <td>[[${usuario.telefone}]]</td> -->
						<!-- <td>[[${usuario.nascimento}]]</td> -->
						<td><a th:if="${usuario.ativado == true}"
							class="fa-solid fa-circle-check fa-2x icon-green "
							th:href="@{'/usuarios/' + ${usuario.id} + '/ativado/false'}"
							title="Desativar usuário"></a> <a
							th:if="${usuario.ativado == false}"
							class="fa-solid fa-circle fa-2x icon-dark"
							th:href="@{'/usuarios/' + ${usuario.id} + '/ativado/true'}"
							title="Ativar usuário"></a></td>

						<td><a class="fa-solid fa-user-pen fa-2x icon-dark "
							th:href="@{'/usuarios/editar/' + ${usuario.id}}"
							title="Editar usuário"> </a>&nbsp;&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center m-1" th:if="${totalItens > 0}">
			<span>Usuários [[${comecoConta}]] até [[${finalConta}]] de
				[[${totalItens}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItens > 0}">
			<span>Nenhum usuário encontrado</span>
		</div>
		<div th:if="${totalPaginas > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${paginaAtual > 1 ?'page-item':'page-item disabled'}"><a
						class="page-link" th:href="@{/usuarios/pagina/1}"
						aria-label="Primeira"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li th:class="${paginaAtual > 1 ?'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/usuarios/pagina/'+${paginaAtual -1 }}"
						aria-label="Anterior"> <span aria-hidden="true">&lt;</span>
					</a></li>
					<li
						th:class="${paginaAtual != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPaginas)}"><a
						class="page-link" th:href="@{'/usuarios/pagina/' +${i}}">[[${i}]]</a>
					</li>
					<li
						th:class="${paginaAtual < totalPaginas ? 'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/usuarios/pagina/'+${paginaAtual +1 }}"
						aria-label="Proxima"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li
						th:class="${paginaAtual < totalPaginas ? 'page-item':'page-item disabled'}"><a
						class="page-link" th:href="@{'/usuarios/pagina/'+${totalPaginas}}"
						aria-label="Ultima"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Atenção</h4>
						<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" id="yesButton" href="">Sim</a>
						<button type="button" class="btn btn-danger"
							data-bs-dismiss="modal">Não</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function limparPesquisa() {
		window.location = "[[@{/usuarios/}]]";

	}
	</script>
</body>
</html>